﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@foreach (var i in ViewBag.JSON)
{   
    @Html.Raw(i)
    @Html.Raw("<br>")
}